@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    padding: 0;
    margin-right: 0;
     font-family: "Google Sans", sans-serif;
     box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: black;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.1);
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: red;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
}
.profile-card .text-data{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15px;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid grey;
    margin: 0 8px;
    background-color: grey;
    text-decoration: none;
}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.buttons button{
    color: black;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 24px;
    margin: 0 8px;
    padding: 8px 24px;
    background-color: rgb(181, 19, 19);
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button:hover{
    background-color: rgb(250, 5, 5);
}
